body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
h1{
    position: absolute;
    text-align:center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    background-color: bisque;
    height: 10.25vh;
    width: 100vw;
    top:-2.5vh;
    z-index: 5;
}
nav{
    position: absolute;
    background-color: gray;
    color: white;
    font-size: large;
    float: left;
    height: 75vh;
    width: 10vw;
    left: 0;
    margin: 0%;
    top: 16.9vh;
    z-index: 2;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
.link{
    width: 90%;
    height: 100%;
    font-size: 1vw;
    font-family: cursive;
    background-color: lightgray;
    margin: 5%;
}
.link:hover{
    background-color: grey;
}
footer{
    position:absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    background-color: lightgray;
    font-size: x-large;
}
article{
    position: absolute;
    top: 16.9vh;
    left: 10%;
    height: 81.8%;
    width: 90%;
    background-color: lightblue;
}
.sliding-img{
    overflow:hidden;
    position: absolute;
    top: 10%;
    left:0vh;
    width: 30%;
    animation: scrollleft linear 10s infinite;
    z-index: 0;
}
@keyframes scrollleft {
    0% {
        left: 100%;
    }
    100% {
        left: -40%;
    }
}